.App {
  font-family: sans-serif;
  text-align: center;
  /* margin: 100px 0px; */
}
/* body{
 
  margin: 100px 100px;
}
*/
/* button {
  background-color: rgb(175, 0, 44);
  margin: 10px;
} */

.content {
  margin: 20px 20px;
}
